@model IPagedList<RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}


@*<form method="get" class="form-group">
    <input type="search" name="SearchTerm" style="color:black" />
    <input type="submit" value="Search By Name" style="color:black" />
</form>*@



@*@using (Ajax.BeginForm(
                new AjaxOptions
                {
                    HttpMethod = "get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "restaurantList"
                }))

{
    <input type="search" name="SearchTerm" style="color:black" />
    <input type="submit" value="Search By Name" style="color:black" />
}*@


<form method="get" action="@Url.Action("Index")"data-otf-ajax="true" data-otf-target="#restaurantList">
    <input type="search" name="SearchTerm" style="color:black" data-otf-autocomplete="@Url.Action("Autocomplete")" />
    <input type="submit" value="Search By Name" style="color:black" />
</form>


@{ 
    var amount = 10.0m;
    var someDate = new DateTime(2002, 7, 9);
}

<div>
    @amount.ToString("c")
</div>

<div>
    @someDate.ToShortDateString()
</div>

@Html.Partial("_Restaurants",Model)